@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap');

:root {
  --primary: #de806e;
  --secondary: #D46C6A;
  --error: #D63B67;
}


body, html {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.appTitle {
  color: var(--primary);
  letter-spacing: 2px;
}

.appDesc {
  font-weight: 300;
}

.appText {
  font-weight: 300;
  letter-spacing: 1px;
}

.progressBar {
  color:#D46C6A;
}

.imageWrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.9;
  border-radius: 2pt;
}

.imageWrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
}